
.addtocartbtn{
  background-color: rgb(240 210 209);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 15px 150px;
  font-weight:100;
  margin-top: 30px;
}

.task1-div{
  display: flex;
}
.task1-img{
  width: 50%;
  position:relative;
}
.task1-img img {
  display: block;
  width: 765px;      
  height: 765px;     
  max-width: 100%; 
  object-fit: cover; 
}
.task1-container h1{
  margin-top:25px;
  margin-bottom:150px;
  font-weight: 100;
}
.product h2 {
  font-weight: 300;
  margin-top:80px;
  font-size:16px;
}
.product p{
    font-weight:300;
    font-size:16px;
}

.task1-container{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.product-image{
  display:flex;
  justify-content:center;
  align-items:center
}
.hotspot-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%); 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
  z-index: 10;
 
}
.pulse-active{
     animation: pulse 2s infinite;
}




@keyframes pulse {
     0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 white;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

}
