
.addtocartbtn{
  background-color: rgb(240 210 209);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 15px 150px;
  font-weight:100;
  margin-top: 30px;
}

.task1-div{
  display: flex;
}
.task1-img{
  width: 50%;
}
.task1-img img {
  display: block;
  width: 765px;      
  height: 765px;     
  max-width: 100%; 
  object-fit: cover; 
}
.task1-container h1{
  margin-top:25px;
  margin-bottom:50px;
  font-weight: 100;
}
.product h2 {
  font-weight: 300;
  margin-top:80px;
  font-size:16px;
}
.product p{
    font-weight:300;
    font-size:16px;
}

.task1-container{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.product-image{
  display:flex;
  justify-content:center;
  align-items:center
}